 .current-page {
     color: #FF001B;
     display: block;
     position: relative;
  

         &::after {
             content: '';
             width: 100%;
             display: block;

             position: absolute;
             left: 0;
             bottom: -7;

             border: 3px solid #FF001B;
             border-radius: 2px;

             transform: scaleX(100%);
             transition: transform $cubic 2500ms;
         }

         &:hover::after {
             transition: transform 2500ms $cubic;
             transform: scaleX(0);
         }
     }

         //navigation
         .header-list {
             @include center;
    
             &__item+&__item {
                 margin-left: 40px;
             }           
         }
    
         .header__link {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.16;
                text-transform: uppercase;
                color: $header-text-color;
    
         }
    
         // logo
         .header__logo--title {
             display: none;
    
             @include tab {
                display: inline-flex;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 1.16;
                    color: $header-text-color;
             }
         }
    
         .header__logo--svg {
             margin-right: 12px;
         }
            
    
         //-==button library==-
         .header-library__btn {
             text-transform: uppercase;
             width: 130px;
             height: 44px;
    
             @include tab {
                 width: 152px;
    
                 &+& {
                     margin-left: 32px;
                 }
    
                 &+& {
                     margin-left: 20px;
                 }
             }
         }

           