 .current-page {
     color: #FF001B;
     display: block;
     position: relative;
  

         &::after {
             content: '';
             width: 100%;
             display: block;

             position: absolute;
             left: 0;
             bottom: 0;

             border: 2px solid #FF001B;
             border-radius: 2px;

             transform: scaleX(100%);
             transition: transform $cubic 2500ms;
         }

         &:hover::after {
             transition: transform 2500ms $cubic;
             transform: scaleX(0);
         }
     }

         //navigation
         .header-list {
             @include center;
    
             &__item+&__item {
                 margin-left: 40px;
             }
    
             ;
         }
    
         .header-list__link {
             text-transform: uppercase;
             color: $header-text-color;
             font-weight: 500;
             font-size: 12px;
             line-height: 14px;
    
         }
    
         // logo
         .header__logo--title {
             display: none;
    
             @include tab {
                 display: inline-flex;
             }
         }
    
         .header__logo--svg {
             margin-right: 12px;
         }
    
         .header__logo--title {
             color: $header-text-color;
             font-weight: inherit;
             font-size: 30px;
             line-height: 35px;
             font-style: medium;
         }
    
         //-==button library==-
         .header-library__btn {
             text-transform: uppercase;
             width: 130px;
             height: 44px;
    
             @include tab {
                 width: 152px;
    
                 &+& {
                     margin-left: 32px;
                 }
    
                 &+& {
                     margin-left: 20px;
                 }
             }
         }