 .current-page {
     color: #FF001B;    
     position: relative;
  

         &::after {
             content: '';
             width: 100%;            

             position: absolute;
             left: 0;
             bottom: -7;

             border: 3px solid #FF001B;
             border-radius: 2px;

             transform: scaleX(100%);
             transition: transform $cubic 2500ms;
         }

         &:hover::after {
             transition: transform 2500ms $cubic;
             transform: scaleX(0);
         }
     }

     //header pages style
        .base-header {
            position: relative;
            display: flex;            
            justify-content: space-between;
            width: 320px;
            margin-left: auto;
            margin-right: auto;
    
            padding: 40px 20px;
            height: 230px;
    
            @include tab {
                align-items: baseline;
                height: 220px;
                width: 768px;
                padding: 40px 35px;
    
            }
    
            @include desk {
                width: 1280px;
    
            }
        }

         //navigation
         .header-list {
             @include center;            
    
             &__item+&__item {
                 margin-left: 40px;
             }           
         }
    
         .header__link {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.16;
                text-transform: uppercase;
                color: $header-text-color;
                align-items: center;
    
         }
         .header__logo{
           display: flex;
           align-items: baseline;           
         }
                   
         .logo {               
            height: 24px;
            width: 24px;
            mask-image: url(../images/film.svg);
            background: linear-gradient(rgb(35, 19, 210), gold);
            background-position: 0 0;
            animation: background 5s infinite alternate;
            @keyframes background {
                50% {
                    background: linear-gradient(red, black);
                    background-position: 0 24px;
                }
            }
            @include tab {
                margin-right: 12px;
            }      
        }    
         // logo
         .header__logo--title {
             display: none;
            &:hover,
            &:focus {
                    height:30px;
                    background: linear-gradient(rgb(35, 19, 210), gold);
                    background-position: 0 0;
                    animation: background 5s infinite alternate;
                }
            
                @keyframes background {
                    50% {
                        background: linear-gradient(red, black);
                        background-position: 0 30px;
                    }
                }
             @include tab {
                display: inline-flex;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 1.16;
                    color: $header-text-color;
             }
         }
    
         .header__logo--svg {
             margin-right: 12px;
         }
            
    
         //-==button library==-
         .header-library__btn {
             text-transform: uppercase;
             width: 130px;
             height: 44px;
    
             @include tab {
                 width: 152px;
    
                 &+& {
                     margin-left: 32px;
                 }
    
                 &+& {
                     margin-left: 20px;
                 }
             }
         }  
            .header__logo:hover > .header__logo--title,
            .header__logo:focus > .header__logo--title{
                @include tab {
                        height: 30px;
                            background: linear-gradient(rgb(35, 19, 210), gold);
                            background-position: 0 0;
                            animation: background 5s infinite alternate;
                        }
                        
                        @keyframes background {
                            50% {
                                background: linear-gradient(red, black);
                                background-position: 0 30px;
                            }
                    }
                }