.home-container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    background-color: $main-bg-color;
    min-height: calc(100vh - 330px);

    @include tab {
        width: 768px;
        padding: 60px 32px 60px 32px;
        min-height: calc(100vh - 307px);
    }

    @include desk {
        width: 1280px;
        padding: 32px 32px 32px 32px;
        min-height: calc(100vh - 307px);
    }
}

.library-list,
.home-list {
    display: flex;
    flex-wrap: wrap;
}

.lib-bg-img {
    background-image: url("/src/images/netuNichego.png");
    background-position: center;
    background-size: 0;
    background-repeat: no-repeat;
    animation: bg 2s $cubic forwards;
}

.home-container {
    .home-card {
        justify-content: center;
        width: 280px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 768px) and (max-width: 1279px) {

            width: 336px;
            margin: 0;

            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 32px;
            }

            &:nth-child(odd) {
                margin-right: 32px;
            }
        }

        @media screen and (min-width: 1280px) {

            width: 394px;

            & {
                margin-right: 16px;
                margin-bottom: 32px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-last-child(-n+3) {
                margin-bottom: 0;
            }
        }
    }
}