$footer-text-color: #545454; // footer text
$accent-orange: #FF6B08; // orange text, btns
$header-text-color: #FFFFFF; //header text
$main-bg-color: #FFFFFF; // cards bg
$accent-bg-color: #F7F7F7; //footer, pagination bg
$dark-text-color: #000000; // cards text
$accent-input-error: #FF001B; // input-error-search

$cubic: cubic-bezier(0.4, 0, 0.2, 1);


