.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16/12);
 
    text-transform: uppercase;

    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-library__btn {
    color: $header-text-color;
    background-color: transparent;
    border: 1px solid $header-text-color;
    width: 130px;
    height: 44px;

    &+& {
        margin-left: 20px;
    }

    @include tab {
        width: 152px;

        &+& {
            margin-left: 32px;
        }
    }

    @include desk {
        width: 148px;

        &+& {
            margin-left: 16px;
        }
    }

    &.header__btn-active,
    &:hover,
    &:focus {
        border: none;
        background: $accent-orange;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    } 
}

.header__btn-active {
    background-color: $accent-orange;
    color: $header-text-color;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: none;
}

.header__btn-noactive {
    background: transparent;
    color: $header-text-color;
    border: 1px solid $header-text-color;
}

.modal__btn {
    color: $dark-text-color;
    background-color: $main-bg-color;
    border-color: $dark-text-color;
    
    &:hover,
    &:focus {
        color: $header-text-color;
        background: $accent-orange;        
    }
}

.modal-close__btn {
    width: 30px;
    height: 30px;
}

.dialog__button {
    color: $dark-text-color;
    background-color: $main-bg-color;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);

    width: 110px;
    height: 44px;
    border-radius: 5px;

    border: 2px solid black;

    &:hover,
    &:focus {
        border: none;
        color: $header-text-color;
        background: $accent-orange;
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
}    

