.header-lib {  
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), 
    url(../images/my-library-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-color: rgba(0, 0, 0, 0.56);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {        
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/my-library-mob-x2.jpg);
    }

    @include tab {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/my-library-tab.jpg);        

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {           
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/my-library-tab-x2.jpg);
        }
    }

    @include desk {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), 
        url(../images/my-library-desk.jpg);     

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {          
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/my-library-desk-x2.jpg);            
        }
    }
}

.header-library__btn-wrap{  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    left: 0;
    right: 0;
    text-align: center;
}

.navigation{
    margin-left: auto;
}
