.header-container {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 40px 20px;
            
    background-image: url(/src/images/header-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image:
                    url(/src/images/header-bg-mob-2x.jpg);
            }
        
        @media screen and (min-width: 768px) {
                background-image: url(/src/images/header-bg-tab.jpg);
        
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/src/images/header-bg-tab-2x.jpg);
                }
            }
        
        @media screen and (min-width: 1280px) {
                background-image: url(/src/images/header-bg-desk.jpg);
        
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/src/images/header-bg-desk-2x.jpg);
                }
            }
}

.header__logo-svg {
    @media screen and (min-width: 768px) {
    margin-right: 8px;
    }
    @media screen and (min-width: 1280px) {
    margin-right: 10px;
    }
}


.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    
&__item + &__item {
            margin-left: 40px;
        }
}

.header__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: $header-text-color;
}

.form-field {
    position: absolute;
        top: 50%;
        left: 15%;
        transition: translate(-50%, -50%);
    
        @media screen and (min-width: 768px) {
            left: 30%;
        }
    
        @media screen and (min-width: 1280px) {
            left: 40%;
        }
}

.search-form__wrap {
    position: relative;
    display: block;
}
.js-search-form {
background-color: transparent;
color: $header-text-color;
border-bottom: 0.5px solid $header-text-color;
border-top: none;
border-left: none;
border-right: none;
width: 280px;
height: 20px;
@media screen and (min-width: 768px) {
        width: 336px;
        height: 20px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 20px;
    }
}

.js-search-form::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: $header-text-color;
}

.search__icon {
    position: absolute;
    top: 20%;
    right: -4;
    transform: translateX(-30%);
}

.search-result {
    display: none;
}
