.header-library{
    position: relative;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
   
    padding: 40px 20px;   
    background-color: rgba(0, 0, 0, 0.56);
    background-image: url(../images/my-library-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-color: rgba(0, 0, 0, 0.56);
        background-image: url(../images/my-library-mob-x2.jpg);
    }

    @include tab {
        background-image: url(../images/my-library-tab.jpg);
        height: 220px;
        padding: 40px 34px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-color: rgba(0, 0, 0, 0.56);
            background-image: url(../images/my-library-tab-x2.jpg);
        }
    }

    @include desk {
        background-image: url(../images/my-library-desk.jpg);       
        height: 215px;
        padding: 40px 20px;
        background-size: auto;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {            
            background-color: rgba(0, 0, 0, 0.56);
            background-image: url(../images/my-library-desk-x2.jpg);
            background-size: cover;
        }
    }
}
.header-library__btn-wrap{  
  position: absolute;  
  top:60%;
  left: 15%;
  transition: translate(-50%, -50%);
  @include tab{
    left: 30%;
  }
  @include desk{
    left: 40%;
}
}

