* {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    display: none;
}

.home-card__img {
    width: 100%;
    max-width: 280px;
    max-height: 402px;
    border-radius: 5px;
    object-fit: cover;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 336px;
        max-height: 455px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 395px;
        max-height: 574px;
    }
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 445px;
    padding-top: 10px;
    transition: transform 250ms $cubic;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        min-height: 510px;
        padding-top: 12px;
    }

    @media screen and (min-width: 1280px) {
        min-height: 680px;
        padding-top: 12px;
    }

    &:hover,
    &:focus {
       transform: scale(1.01);
   }
}

.card-info__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $dark-text-color;
    // max-height: 24px;
    padding-top: 5px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 12px;
        line-height: 16px;
        padding-top: 0px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
        padding-top: 0px;
    }
}

.card-info_descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $accent-orange;
    padding-top: 5px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 12px;
        line-height: 16px;
        padding-top: 0px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
        padding-top: 0px;
    }
}