.backdrop {
  position: fixed;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  top: 0;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.2);

  overflow-y: scroll;

  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  display: none;
}

.modal-card {
  position: absolute;
  width: calc(100% - 40px);
  // min-height: 700px;
  padding: 50px 20px;
  background-color: $main-bg-color;
  transition: transform 250ms $cubic;

  border-radius: 5px;

  min-height: 0;
  max-height: 90vh;
  max-width: 95vw;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    width: 704px;
    // min-height: 552px;
    padding: 40px 72px 40px 36px;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    // min-height: 558px;
    padding: 40px 12px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: $main-bg-color;
  color: $dark-text-color;

  cursor: pointer;

  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  transform-origin: center;

  &:hover,
  &:focus {
    color: $accent-orange;
    transform: rotateZ(-90deg);
  }
}

.close-icon {
  fill: currentColor;
  stroke: currentColor;
}

.modal-movie {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  gap: 40px;

  @media screen and (min-width: 578px) {
    flex-wrap: nowrap;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    // display: flex;
    gap: 68px;
  }

  @media screen and (min-width: 1280px) {
    gap: 30px;
  }
}

.modal-movie__poster {
  min-width: 240px;
  height: auto;
  max-height: 100%;

  // height: 357px;
  // margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
    // height: 374px;
    // margin-right: 68px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    // height: 478px;
    // margin-right: 30px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;
  }
}

.modal-movie__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-movie__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.movie-table {
  margin-bottom: 20px;
}

.modal-movie__about {
  // display: flex;

  // justify-content: space-between;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
}
.modal-movie__description {
  margin-bottom: 15px;
}

.modal-movie__text {
  @media screen and (min-width: 768px) {
    overflow-y: scroll;
    max-height: 236px;
  }

  @media screen and (min-width: 1280px) {
    max-height: 160px;
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $main-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    margin-left: 5px;
    background-color: $accent-orange;
  }
}

.movie-table__title {
  width: 100px;
  color: #8c8c8c;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  // padding-right: 20px;
}

.movie-table__info {
  color: $dark-text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: left;
  max-width: 240px;

  @media screen and (min-width: 768px) {
    max-width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
  }
}

.vote {
  background-color: $accent-orange;
  padding: 2px 9px 2px 9px;
  border-radius: 9.5px;
  color: $main-bg-color;
}

.modal-movie__box {
  flex: 1;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // min-height: 240px;
  }

  @media screen and (min-width: 1280px) {
    // min-height: 340px;
  }
}

.modal-movie__buttons {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @media screen and (min-width: 414px) {
    justify-content: flex-start;
  }
}

.modal-movie__btn {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  height: 44px;
  width: 110px;

  @media screen and (min-width: 768px) {
    width: 125;
  }
  @media screen and (min-width: 1280px) {
    min-width: 138px;
  }
}

.movie-btn {
  transition-property: color, opacity, transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  perspective: 1000px;
  overflow: hidden;
  opacity: 0.8;
  cursor: pointer;

  &--watched {
    button {
      border-radius: 5px;
      background-color: $header-text-color;
      color: $accent-orange;

      border: 1px solid $accent-orange;

      &.add {
        color: $header-text-color;
        background-color: $accent-orange;
      }
    }
  }

  &--queue {
    button {
      border-radius: 5px;

      color: $dark-text-color;
      background-color: $main-bg-color;
      border: 1px solid $dark-text-color;

      &.add {
        background-color: $dark-text-color;
        color: $main-bg-color;
      }
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .add,
  .remove {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .remove {
    transform: rotateX(-180deg);
  }

  &.added .movie-btn__inner {
    transform: rotateX(-180deg);
  }
}

// .modal-movie__text {
//   width: 240px;
//   height: 236px;
//   overflow-y: scroll;
//   overflow-x: auto;

//   font-weight: 500;
//   font-size: 12px;
//   line-height: calc(20 / 12);

//   &::-webkit-scrollbar {
//     width: 5px;
//     background-color: $main-bg-color;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: $accent-orange;
//   }
// }
