ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
$header-text-color: #000;

.modal {
  background-color: rgb(249, 247, 247);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;

  position: absolute;
  top: 93px;
  left: 50%;
  transform: translate(-50%) scale(1);
  width: 450px;
  height: auto;

  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    top: 208px;
    width: 700px;
  }
  // @media screen and (min-width: 768px) {
  //   width: 800px;
  // }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 1100px;
    // height: auto;
    top: 221px;
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
    overflow-y: scroll;
    &.dark-theme {
      background-color: #333333;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.modal__closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgb(249, 247, 247);
  color: $dark-text-color;

  cursor: pointer;

  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  transform-origin: center;

  &:hover,
  &:focus {
    color: $accent-orange;
    transform: rotateZ(-90deg);
  }
}

.modal__hat {
  font-family: 'Roboto';
  color: $header-text-color;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 55px;
    line-height: 50px;
  }
}
.backdropp {
  overflow-y: scroll;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  //   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__devName {
  color: $header-text-color;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;

  text-align: center;
  @media screen and (min-width: 768px) {
  }
}
.modal__devProf {
  color: rgb(75, 74, 74);
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.modal__description {
  color: $header-text-color;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.modal__photo {
  border-radius: 50%;
  width: 220px;
  height: 220px;
  //   max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  //   height: auto;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    transform: scale(1.03);
  }
}
.modal__devList {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    flex-direction: inherit;
  }
}
.modal__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 100%;
    // display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    flex-direction: inherit;
    margin-bottom: 40px;
  }
}
.modal__list__item:not(:last-child) {
  margin-bottom: 20px;
}
.modal__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 60%;

    height: 200px;
  }
}

// #arrowTop {
//   height: 50px;
//   width: 14px;
//   color: red;

//   position: fixed;
//   z-index: 4;
//   top: 10px;
//   left: 10px;
//   cursor: pointer;
// }

// #arrowTop::before {
//   content: '▲';
// }

.modal__social--Git {
  fill: #000;
}

.modal__social {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  border-radius: 50%;
  border: 1px solid #000;

  cursor: pointer;
}
