.dialog{
    position: fixed;    
    top: 0;
}
.dialog__container{
    position:fixed;
    left: 20;
    bottom: 20;  
    z-index: 100;
    padding: 20px;
    text-align: center;        
        border-radius: 6px;
        max-width: 280px;        
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
        cursor: default;            
        background: $main-bg-color;            
}

.dialog__close-button {
    display: inline-flexbox;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;

    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 5px;

    background: $main-bg-color;
    background-image: url(../images/close.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus {
        background: $main-bg-color;
        background-image: url(../images/close.svg);        
        background-size: 19px;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}
.dialog__text{
    margin-bottom: 20px;
}