.dialog{
    position: fixed;    
    top: 0;
}
.dialog__container{
    position:fixed;
    left: 20;
    bottom: 20;  
    z-index: 100;
    padding: 20px;
    text-align: center;        
        border-radius: 6px;
        max-width: 280px;        
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
        cursor: default;            
        background: $main-bg-color;            
}
.dialog__text{
    margin-bottom: 20px;
}